.verify{
    width:35px;
    height: 35px;
}
.link a{
    font-size: 15px;

}
.link a:hover{
    text-decoration: underline;
}
.trend-button{
    width:120px;
    height: 40px;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    p
}